.chess-board {
  position: relative;
    width: 10%;
    background-image: url('Assets/Board.png');
    background-size: cover !important;
    background-position: center;
  
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
  }
  .chess-square {
    width: calc(50% / 8);
    height: calc(50% / 8);
    float: left;
    position: relative;
}

.chess-row {
    width: 100%;
    display: block;
    clear: both;
}

.highlighted {
    background-color: rgba(255, 255, 0, 0.5); 
}


.chess-board img {
width: 1%;

}

.chess-piece {
  position: relative;
width: 20%; 
}
/*